# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
.venv
venv/
ENV/

# IDE
.idea
.vscode
*.swp
*.swo

# Testing
.pytest_cache
tests/
.coverage
htmlcov/

# Dev files
.ruff_cache

# Environment
.env
.env.*
